.DigitaleUhrSwitch{
    -fx-background-color: "#145369"
}
.AnalogeUhrSwitch{
    -fx-background-color: "#145369"
}
.StoppuhrSwitch{
    -fx-background-color: "#145369"
}
.TimerSwitch{
    -fx-background-color: "#145369"
}