.DigitaleUhrSwitch{
    -fx-background-color: "#25a5be"
}
.AnalogeUhrSwitch{
    -fx-background-color: "#25a5be"
}
.StoppuhrSwitch{
    -fx-background-color: "#25a5be"
}
.TimerSwitch{
    -fx-background-color: "#25a5be"
}